{% comment %}
  Brand Carousel Section with Range Input to control the display and autoplay functionality.
{% endcomment %}

<div class="brand-carousel">
  {% if section.blocks.size > 0 %}
    <div class="carousel-wrapper">
      <brand-carousel>
        {% for block in section.blocks %}
          <carousel-item 
            data-image="{{ block.settings.brand_image | img_url: 'medium' }}" 
            data-name="{{ block.settings.brand_name }}">
            data-name="{{ collections[block.settings.collection_brand].handle }}"
          </carousel-item>
        {% endfor %}
      </brand-carousel>
    </div>
  {% else %}
    <p>No brands to display.</p>
  {% endif %}
</div>

  <script src="{{ 'brand-carousel.js' | asset_url }}" type="module" crossorigin="anonymous"></script>

{% schema %}
{
  "name": "Brand Carousel",
  "settings": [
    {
      "type": "range",
      "id": "desktop_items",
      "label": "Items on Desktop",
      "min": 1,
      "max": 10,
      "step": 1,
      "default": 4
    },
    {
      "type": "range",
      "id": "tablet_items",
      "label": "Items on Tablet",
      "min": 1,
      "max": 10,
      "step": 1,
      "default": 3
    },
    {
      "type": "range",
      "id": "mobile_items",
      "label": "Items on Mobile",
      "min": 1,
      "max": 10,
      "step": 1,
      "default": 2
    }
  ],
  "blocks": [
    {
      "type": "brand",
      "name": "Brand",
      "settings": [
        {
          "type": "image_picker",
          "id": "brand_image",
          "label": "Brand Image"
        },
        {
          "type": "text",
          "id": "collection_brand",
          "label": "Collection Brand",
          "default": "Default Brand"
        },
        {
          "type": "text",
          "id": "brand_name",
          "label": "Brand Name",
          "default": "Default Brand"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Brand Carousel",
      "blocks": [
        {
          "type": "brand"
        },
        {
          "type": "brand"
        },
        {
          "type": "brand"
        }
      ]
    }
  ]
}
{% endschema %}
